node_modules
.tmp/
.cache/
.git/
dist/
coverage/
docker-compose.yml
prisma_scratch
.env
.env.local
api.http
cstoken.env
Dockerfile
Dockerfile.dev
GeneratedCode.hpp
IntrospectionQuery.graphql
IntrospectionQuery.json
scratch.txt
